name: Unity Build (Windows/WebGL)

on:
  workflow_dispatch:
    inputs:
      build_target_name:
        description: 'Choose Windows, WebGL or For_GitHub_Pages'
        required: true
        type: choice
        options:
          - Windows
          - WebGL
          - For_GitHub_Pages
        default: 'Windows'

  workflow_call:
    inputs:
      build_target_name:
        description: 'Choose Windows, WebGL or For_GitHub_Pages'
        required: true
        type: string

    secrets:
      UNITY_EMAIL:
        required: true
      UNITY_PASSWORD:
        required: true
      UNITY_LICENSE:
        required: true

    # 生成したアーティファクト名を出力
    outputs:
      artifact_name:
        description: "The name of the build artifact"
        value: ${{ jobs.init.outputs.artifact_name }}

jobs:
  init:
    name: Initialize before build
    runs-on: ubuntu-latest

    outputs:
      artifact_name: ${{ steps.vars.outputs.artifact_name }}
      build_target: ${{ steps.vars.outputs.build_target }}

    steps:
      - name: check_env
        run: |
          isError=false
          if [ -z "${{ secrets.UNITY_EMAIL }}" ]; then
            echo "::error::UNITY_EMAILが設定されていません"
            isError=true
          fi

          if [ -z "${{ secrets.UNITY_PASSWORD }}" ]; then
            echo "::error::UNITY_PASSWORDが設定されていません"
            isError=true
          fi

          if [ -z "${{ secrets.UNITY_LICENSE }}" ]; then
            echo "::error::UNITY_LICENSEが設定されていません"
            isError=true
          fi

          if $isError ; then
            exit 1
          fi

      # ビルドターゲットに応じて環境変数を設定
      - name: Set Build Variables
        id: vars # ジョブの outputs で参照するため id を設定
        run: |
          echo "Setting build variables based on input: ${{ inputs.build_target_name }}"

          # inputs.build_target_name に応じて build_target (プラットフォーム名) を設定
          if [ "${{ inputs.build_target_name }}" == "Windows" ]; then
            echo "build_target=StandaloneWindows64" >> $GITHUB_OUTPUT

          elif [ "${{ inputs.build_target_name }}" == "WebGL" ]; then
            echo "build_target=WebGL" >> $GITHUB_OUTPUT
          elif [ "${{ inputs.build_target_name }}" == "For_GitHub_Pages"]; then
            echo "build_target=WebGL" >> $GITHUB_OUTPUT
          else
            echo "Error: Invalid build_target_name."
            exit 1
          fi

          # ARTIFACT_NAME を設定
          ARTIFACT_NAME_VALUE="${{ inputs.build_target_name }}-Build-${{ github.run_id }}"
          echo "artifact_name=${ARTIFACT_NAME_VALUE}" >> $GITHUB_OUTPUT

  build:
    name: Run the build for ${{ inputs.build_target_name }}
    runs-on: ubuntu-latest
    needs: init
    env:
      ARTIFACT_NAME: ${{ needs.init.outputs.artifact_name }}
      BUILD_TARGET_NAME: ${{ inputs.build_target_name }}
      BUILD_TARGET: ${{ needs.init.outputs.build_target }}
      REPO_NAME: ${{ github.event.repository.name }}

    steps:
      # 仮想環境にクローン
      - name: Check out my unity project
        uses: actions/checkout@v4
        with:
          lfs: true

      # Unityビルドの前にランナーの空き容量を確保する
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          android: false # androidビルドするかもしれないし
          docker-images: false # 元からdockerはない
          tool-cache: false # 一番時間かかる(10倍くらい)
          large-packages: false # 二番目に時間がかかる
          swap-storage: true
          dotnet: true
          haskell: true

      # 次回起動時の高速化ためパッケージをキャッシュ
      - name: Cache Library
        uses: actions/cache@v4
        with:
          path: Library
          # manifest.jsonかlock.jsonが変わったときだけキャッシュを更新
          key: Library-${{ hashFiles('Packages/manifest.json', 'Packages/packages-lock.json') }}
          restore-keys: |
            Library-

      - name: Cache Packages
        uses: actions/cache@v4
        with:
          path: Packages
          # manifest.jsonかlock.jsonが変わったときだけキャッシュを更新
          key: Packages-${{ hashFiles('Packages/manifest.json', 'Packages/packages-lock.json') }}
          restore-keys: |
            Packages-

      - name: Change settings for github pages
        if: ${{ env.BUILD_TARGET_NAME }} ==  "For_GitHub_Pages"
        run: |
          sed -i -e 's/webGLCompressionFormat: ./webGLCompressionFormat: 2/' ProjectSettings/ProjectSettings.asset

      # Unity ビルド実行
      # 詳細の設定はUnity側で行えば良い
      - name: Run the build
        uses: game-ci/unity-builder@v4
        env:
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          buildName: ${{ env.REPO_NAME }}
          targetPlatform: ${{ env.BUILD_TARGET }}
          allowDirtyBuild: true

      # ビルド成果物をアップロード
      - name: Upload the build for GitHub Pages
        if: env.BUILD_TARGET == 'WebGL'
        uses: actions/upload-pages-artifact@v4
        with:
          name: github-pages
          path: build/${{ env.BUILD_TARGET }}/${{ env.REPO_NAME }}

      - name: Upload the Build
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: build/${{ env.BUILD_TARGET }}
